/*  General     */

body {
    background-color:#F4F4F4;
}

/*  General End     */

/*  Start Login Form */
.admin-cp-login {
    width:50%;
    margin:100px auto;
    padding:30px;
    background:#e6e6e6;
    border-radius: 10px;
}

.admin-cp-login fieldset {
    padding:20px 70px;
    padding-bottom: 0px;
    border:1.5px solid rgba(0,0,0,0.35);
}

.admin-cp-login fieldset legend {
    width:auto;
    border:1.5px solid rgba(0,0,0,0.35);
    padding:8px 20px;
    color:#696b71;
}

.admin-cp-login input:not(:first-child) {
    margin:20px 0;
}

.admin-cp-login input[type='submit'] {
    margin:50px 0;
}

/*  Start Login Form */

/*  Admin Navbar Start */

.admin-navbar .navbar-brand {
    margin-right:70px;
}

.admin-navbar.navbar-dark .navbar-nav .nav-item {
    padding:0 10px;
}

.admin-navbar.navbar-dark .navbar-nav .nav-link{
    transition:all .5s ease-in-out;
    letter-spacing: 1.2px;
}

.admin-navbar .navbar-nav .nav-item {
    
}

.admin-navbar.navbar-dark .navbar-nav .nav-link:hover {
    background:#4e4e4e;
}


/*  Admin Navbar End    */